---
name: Upload Python Package

on:  # yamllint disable-line rule:truthy
  release:
    types: ['published']

permissions:
  contents: read

jobs:

  deploy:

    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/oranchada
    permissions:
      id-token: write

    steps:

      - name: Checkout the repository
        uses: actions/checkout@v4.2.2

      - name: Setup Python
        uses: actions/setup-python@v5.3.0
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install build

      - name: Build package
        run: python -m build

      - name: Publish package
        uses: pypa/gh-action-pypi-publish@v1.12.4
